.Body {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    animation: fadeIn 1s;
}
.title{
    background-color: #ffffff;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: 700;
    animation: fadeIn 1.5s;
    box-shadow: 0px 0px 10px 0px white;
    flex-direction: row;
}